/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
  font-family: 'NunitoSans';
  src: url('../fonts/NunitoSans-Bold.eot');
  src: url('../fonts/NunitoSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NunitoSans-Bold.woff2') format('woff2'),
    url('../fonts/NunitoSans-Bold.woff') format('woff'),
    url('../fonts/NunitoSans-Bold.ttf') format('truetype'),
    url('../fonts/NunitoSans-Bold.svg#NunitoSans-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NunitoSans';
  src: url('../fonts/NunitoSans-SemiBold.eot');
  src: url('../fonts/NunitoSans-SemiBold.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/NunitoSans-SemiBold.woff2') format('woff2'),
    url('../fonts/NunitoSans-SemiBold.woff') format('woff'),
    url('../fonts/NunitoSans-SemiBold.ttf') format('truetype'),
    url('../fonts/NunitoSans-SemiBold.svg#NunitoSans-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NunitoSans';
  src: url('../fonts/NunitoSans-Regular.eot');
  src: url('../fonts/NunitoSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NunitoSans-Regular.woff2') format('woff2'),
    url('../fonts/NunitoSans-Regular.woff') format('woff'),
    url('../fonts/NunitoSans-Regular.ttf') format('truetype'),
    url('../fonts/NunitoSans-Regular.svg#NunitoSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NunitoSans';
  src: url('../fonts/NunitoSans-Light.eot');
  src: url('../fonts/NunitoSans-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NunitoSans-Light.woff2') format('woff2'),
    url('../fonts/NunitoSans-Light.woff') format('woff'),
    url('../fonts/NunitoSans-Light.ttf') format('truetype'),
    url('../fonts/NunitoSans-Light.svg#NunitoSans-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Common */
input::placeholder {
  color: inherit;
}

@layer components {
  .select {
    &__control {
      @apply pt-4 pb-4 pl-4 pr-4 border-0 bg-white rounded-lg shadow-md shadow-slate-200 !important;

      &--is-focused {
        @apply shadow-inner shadow-slate-300 !important;
      }
    }

    &__single-value,
    &__placeholder,
    &__indicator {
      @apply text-black !important;
    }

    &__value-container {
      @apply p-0 !important;
    }

    &__input-container {
      @apply p-0 m-0 !important;
    }

    &__indicator-separator {
      display: none;
    }

    &__indicator {
      @apply p-0 !important;

      svg {
        width: 24px;
        height: 24px;
      }
    }

    &__menu-list {
      @apply p-0 !important;
    }
  }

  @media (prefers-color-scheme: dark) {
    .dark {
      .select {
        &__control {
          @apply bg-customgray-200 shadow-gray-800 !important;

          &--is-focused {
            @apply shadow-gray-900 !important;
          }
        }

        &__single-value,
        &__placeholder,
        &__indicator {
          @apply text-white !important;
        }

        &__menu-list {
          @apply bg-customgray-200 !important;
        }

        &__option {
          &--is-focused {
            @apply bg-gray-800 !important;
          }
        }
      }
    }
  }
}
